

h1{
  margin: 0px;
}

#firstName{
  background-color: pink;
}

#lastName{
  background-color: red;
}

#idNum{
  background-color: violet;
}

#jobTitle{
  background-color: limegreen;
}

#annualSal{
  background-color: skyblue;
}
